#slider {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #F2784B;
    opacity: 0.5;
}

#links{

    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;

}


.scroll{
    height: 100%;
}

.color-square{

    width: 40px;
    height: 40px;
    margin: 50px 10px;
    border: 1px solid slategrey;

}
.color-square-input{
    width: 40px;
    height: 40px;
    margin: 1px;
}
#progress-bar{

    position: fixed;
    top:0;
    right:0;
    height: 100%;
    width: 10px;
    border-left: 1px solid gold;

}

#progress-bar #gauge{
    width: 100%;
    background-color: royalblue;
    transition: height 500ms ease;
    -webkit-transition: height 500ms ease;
}