#progress-bar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 12px;
}
#progress-bar #gauge {
  width: 100%;
  background-color: #6c7A89;
  transition: height 500ms ease;
  -webkit-transition: height 500ms ease;
}
#links {
  width: 100%;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transition: transform 500ms ease;
  -webkit-transition: -webkit-transform 500ms ease;
  position: absolute;
  top: 0;
  background-color: #ECF0F1;
}
#links .cursor {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
}
#links .section {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -webkit-box-orient: vertical;
  padding-bottom: 43px;
}
#links .section .img-item {
  flex: 1;
  -webkit-flex: 1;
  text-align: center;
  display: flex;
  display: -webkit-flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
#links .section .img-item p {
  margin: auto;
  font-size: 20px;
  color: #6c7A89;
}
#links .section .element-link {
  flex: 1;
  -webkit-flex: 1;
}
#links .section .element-link .element-open {
  width: 40px;
  height: 40px;
  background: url('../img/plus.svg') center no-repeat;
  transition: transform 500ms ease;
  -webkit-transition: -webkit-transform 500ms ease;
  margin: 30px auto;
}
#links .section .element-link .element-open.close {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
#links .section .element-link .element-open-details {
  width: 20px;
  height: 20px;
  background: url('../img/plus.svg') center no-repeat;
  transition: transform 500ms ease;
  -webkit-transition: -webkit-transform 500ms ease;
  margin: 20px auto;
}
#links .section .element-link .element-open-details.close {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
#links .section h2.info-title {
  text-align: center;
  color: #6c7A89;
  margin: 20px auto;
}
#links .section .button {
  margin: auto;
  width: 90%;
}
#links .section .rotate-icon-container {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  display: -webkit-flex;
}
#links .section .rotate-icon-container .icon-rotate {
  width: 140px;
  height: 140px;
  display: block;
  margin: auto;
  background: url('../img/rotateMobile.svg') no-repeat center;
  background-size: cover;
}
#commands {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.97);
  z-index: 9999;
  display: none;
}
#commands .gallery-commands {
  margin: auto;
  width: 100%;
  display: flex;
  display: -webkit-flex;
}
#commands .gallery-commands .gallery-arrow {
  display: inline-block;
  color: #FFF;
  flex: 3;
  -webkit-flex: 3;
  height: 80px;
  text-align: center;
}
#commands .gallery-commands .gallery-arrow.left-arrow {
  background: url("../img/left_arrow.svg") center no-repeat;
}
#commands .gallery-commands .gallery-arrow.right-arrow {
  background: url("../img/right_arrow.svg") center no-repeat;
}
#commands .gallery-commands p {
  color: #FFF;
  text-align: center;
  flex: 1;
  -webkit-flex: 1;
  font-size: 30px;
  line-height: 80px;
}
#commands .dragSlider {
  width: 61px;
  height: 61px;
  cursor: move;
  background: url("../img/drag-btn.png") 0 0 no-repeat;
  z-index: 50;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
}
#commands .video-commands {
  margin: auto;
}
#commands .video-commands div {
  color: #FFF;
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 10px;
}
#commands .video-commands div.video-play.pauseVideo {
  background: url('../img/play.svg') no-repeat center;
  background-size: cover;
}
#commands .video-commands div.video-play.playVideo {
  background: url('../img/pause.svg') no-repeat center;
  background-size: cover;
}
#commands .video-commands div.video-mute.unMute {
  background: url('../img/mute.svg') no-repeat center;
  background-size: cover;
}
#commands .video-commands div.video-mute.mute {
  background: url('../img/unmute.svg') no-repeat center;
  background-size: cover;
}
#commands .video-commands div.video-fullscreen.unfullscreen {
  background: url('../img/fullscreen.svg') no-repeat center;
  background-size: cover;
}
#commands .video-commands div.video-fullscreen.fullscreen {
  background: url('../img/unfulscreen.svg') no-repeat center;
  background-size: cover;
}
.scroll {
  height: 100%;
}
.row-color {
  display: block;
  width: 215px;
  margin: 50px auto;
}
.row-color.empty-color {
  width: 170px;
}
.row-color .color-square {
  width: 40px;
  height: 40px;
  margin: 1px;
  border: 1px solid slategrey;
  border-radius: 50%;
  display: inline-block;
}
.row-color .color-square-input {
  width: 40px;
  height: 40px;
  margin: 1px;
  border-radius: 50%;
  display: inline-block;
}
@media only screen and (orientation: landscape) {
  #commands {
    display: flex;
    display: -webkit-flex;
  }
}
