<ion-view title="RemoteApp" ng-controller="mainCtrl as m">
    <ion-content>
        <div >
            <button id="add_new" class="button button-block button-positive"
                    ng-click="m.showAddSites()">
                Ajouter un site
            </button>
        </div>
        <div class="row">
            <!--{{sitesList.sites}}-->
            <div class="col" ng-repeat="site in m.sites">
                <div class="card" ng-click="m.openSite(site)">
                    <div class="item item-text-wrap">
                        {{site.name}}
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>