<ion-view title="RemoteApp" ng-controller="homeCtrl as m">
    <ion-nav-buttons side="primary">
        <button class="button" ng-click="m.addSitesButton()">
            <i class="ion-android-add"></i> Add a site
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="site in m.sites" ng-click="m.openSite(site)">
                <img ng-src="../img/{{site.favicon}}" alt="" height="30" width="30"/>
                {{site.title}}
                <ion-option-button class="button-assertive"
                                   ng-click="m.deleteSite(site)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>