<ion-view title="RemoteApp">
    <ion-content>
        <div ng-controller="addSiteCtrl as addSites">
            <button id="add_new" class="button button-block button-positive"
                    ng-click="addSites.showAddSites()">
                Ajouter un site
            </button>
        </div>
        <div class="row" ng-controller="sitesListCtrl as sitesList">
            <!--{{sitesList.sites}}-->
            <div class="col" ng-repeat="site in sitesList.sites">
                <div class="card" ng-click="sitesList.openSite(site)">
                    <div class="item item-text-wrap">
                        {{site.name}}
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>