<ion-view title="RemoteApp" ng-controller="siteCtrl as site">
    <ion-nav-buttons side="primary">
        <button class="button" ng-click="site.backToHome()">
            <i class="ion-arrow-left-c"></i> Back
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header padding" scroll="false">
        <div id="slider" on-swipe-up="site.swipe('up')" on-swipe-down="site.swipe('down')"
             on-swipe-left="site.swipe('left')" on-swipe-right="site.swipe('right')">
        </div>
        <!--{{site.layout.layout}}-->
        <!--{{site.nbSections}}-->
        <div id="links"
             ng-style="{'height': site.linksHeight + '%', 'transform':'translate3d(0, -'+site.transformLinks+'%, 0)', '-webkit-transform':'translate3d(0, -'+site.transformLinks+'%, 0)' }">
            <div class="section" ng-class="'section-'+$index" ng-repeat="link in site.layout.layout">
                <div class="btn" ng-repeat="l in link">{{l.text}}</div>
            </div>
        </div>
        <div id="progress-bar" class="padding-top">
            <div id="gauge" class="padding-top" ng-style="{ 'height': site.gaugeHeight + '%' }"></div>
        </div>
    </ion-content>
</ion-view>