<ion-view title="RemoteApp" ng-controller="siteCtrl as site">
    <ion-nav-buttons side="primary">
        <button class="button" ng-click="site.backToHome()">
            <i class="ion-arrow-left-c"></i> Back
        </button>
    </ion-nav-buttons>
    <ion-content>

        {{site.menu}}
        <div id="slider" on-swipe-up="site.swipeUp()" on-swipe-down="site.swipeDown()"></div>

        <!--<ion-pane>-->
        <!--<div class="tabs">-->
        <!--<a class="tab-item">-->
        <!--Home-->
        <!--</a>-->
        <!--<a class="tab-item">-->
        <!--Favorites-->
        <!--</a>-->
        <!--<a class="tab-item">-->
        <!--Settings-->
        <!--</a>-->
        <!--</div>-->
        <!--</ion-pane>-->


    </ion-content>
</ion-view>