<ion-view title="RemoteApp" ng-controller="siteCtrl as site" cache-view="false">
    <ion-nav-buttons side="primary">
        <button class="button" ng-click="site.backToHome()">
            <i class="ion-arrow-left-c"></i> Back
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header" scroll="false">

        <div id="commands">

            <!-- gallery commands-->
            <div class="gallery-commands" ng-show="site.layout.layout[site.currentSection - 1][0].type == 'gallery'">
                <div class="gallery-arrow left-arrow"
                     ng-click="site.galleryRemote('left', site.layout.layout[site.currentSection - 1][0].nbSlides)"></div>
                <p>{{site.currentSlide}} / {{site.layout.layout[site.currentSection - 1][0].nbSlides}}</p>

                <div class="gallery-arrow right-arrow"
                     ng-click="site.galleryRemote('right', site.layout.layout[site.currentSection - 1][0].nbSlides)"></div>
            </div>

            <!-- DraggableSlider commands -->
            <div ng-show="site.layout.layout[site.currentSection - 1][0].type == 'DraggableSlider' " class="dragSlider"
                 on-drag-right="site.sliderDrag('right')" on-drag-left="site.sliderDrag('left')"
                 on-release="site.dragRelease()"
                 ng-style="{'transform':'translate3d('+site.drag+'%, -50%, 0)', '-webkit-transform':'translate3d('+site.drag+'%, -50%, 0)'}">

            </div>

            <!-- VideoRemoteCommands -->
            <div class="video-commands" ng-show="site.layout.layout[site.currentSection - 1][0].type == 'video'">
                <div class="video-mute" ng-class="site.videoMuteState" ng-click="site.videoCommand('play')"></div>
                <div class="video-play" ng-class="site.videoPlayState" ng-click="site.videoCommand('mute')"></div>
                <div class="video-fullscreen" ng-class="site.videoScreenState"
                     ng-click="site.videoCommand('fullscreen')"></div>
            </div>


        </div>
        <div id="links" on-swipe-up="site.swipe('up')" on-swipe-down="site.swipe('down')"
             on-swipe-left="site.swipe('left')" on-swipe-right="site.swipe('right')"
             on-drag-up="site.dragSurface('up')" on-drag-down="site.dragSurface('down')"
             on-drag-left="site.dragSurface('left')" on-drag-right="site.dragSurface('right')"
             ng-style="{'height': site.linksHeight + 'px', 'transform':'translate3d(0, -'+site.transformLinks+'px, 0)', '-webkit-transform':'translate3d(0, -'+site.transformLinks+'px, 0)' }">

            <!--<div class="cursor" ng-show="site.displayCursor.show" ng-style="{'top':site.displayCursor.Y+'px', 'left':site.displayCursor.X+'px'}"></div>-->

            <div class="section" ng-class="'section-'+$index" ng-style="{'height': site.sectionHeight + 'px'}"
                 ng-repeat="link in site.layout.layout">

                <button ng-if="l.type == 'link'" class="button button-block button-light" ng-repeat="l in link"
                        ng-click="site.openPage(l.url)">
                    {{l.text}}
                </button>

                <div ng-if="l.rotate == 'true'" class="rotate-icon-container" ng-repeat="l in link">
                    <div class="icon-rotate"></div>
                </div>

                <h2 class="info-title" ng-if="l.type == 'info'" ng-repeat="l in link">{{l.text}}</h2>

                <div class="img-item" ng-if="l.type == 'imgLink'" ng-repeat="l in link" ng-click="site.openPage(l)">
                    <p>{{l.text}}</p>
                </div>

                <div class="element-link" ng-if="l.type == 'elementLink'" ng-repeat="l in link">

                    <div class="element-open" ng-click="site.elementLink(l, 'elementLink')" ng-class="{'close':l.state == 'open'}"></div>

                    <div ng-show="l.state == 'open'" class="element-open-details" ng-class="{'close':el.state == 'open'}" ng-repeat="el in l.children"
                         ng-click="site.elementLink(el, 'openDetails')">
                    </div>

                </div>

            </div>
        </div>
        <div id="progress-bar">
            <div id="gauge" ng-style="{ 'height': site.gaugeHeight + 'px' }"></div>
        </div>
    </ion-content>
</ion-view>