<ion-view title="RemoteApp" ng-controller="siteCtrl as site" sidebar>

    <ion-nav-buttons side="primary">
        <button class="button" ng-click="site.backToHome()">
            <i class="ion-arrow-left-c"></i> Back
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button id="menu-btn-sidebar" class="button" data-effect="st-effect-4">
            <i class="ion-android-menu"></i>
        </button>
    </ion-nav-buttons>
    <ion-content scroll="false">
        <div id="st-container" class="st-container">
            <nav class="st-menu st-effect-4" id="menu-4">
                <ul>
                    <!--<a class="tab-item" ng-repeat="m in site.menu.menu[0]" ng-click="site.openPage(m.url)">-->
                    <!--{{m.name}}-->
                    <!--</a>-->
                    <li ng-repeat="m in site.menu.menu[0]" ng-click="site.openPage(m.url)">
                        <a href="#">{{m.name}}</a>
                    </li>
                    <!--<li><a class="icon icon-data" href="#">Data Management</a></li>-->
                    <!--<li><a class="icon icon-location" href="#">Location</a></li>-->
                    <!--<li><a class="icon icon-study" href="#">Study</a></li>-->
                    <!--<li><a class="icon icon-photo" href="#">Collections</a></li>-->
                    <!--<li><a class="icon icon-wallet" href="#">Credits</a></li>-->
                    <!--<li><a class="icon icon-wallet" href="#">Credits</a></li>-->
                    <!--<li><a class="icon icon-wallet" href="#">Credits</a></li>-->
                    <!--<li><a class="icon icon-wallet" href="#">Credits</a></li>-->
                    <!--<li><a class="icon icon-wallet" href="#">Credits</a></li>-->
                    <!--<li><a class="icon icon-wallet" href="#">Credits</a></li>-->
                    <!--<li><a class="icon icon-wallet" href="#">Credits</a></li>-->
                    <!--<li><a class="icon icon-wallet" href="#">Credits</a></li>-->
                </ul>
            </nav>
            <!-- sidebar content -->


            <!-- content push wrapper -->
            <div class="st-pusher">

                <div class="st-content"><!-- this is the wrapper for the content -->
                    <div class="st-content-inner"><!-- extra div for emulating position:fixed of the menu -->
                        <!-- the content -->
                    </div>


                    <div id="slider" on-swipe-up="site.swipeUp()" on-swipe-down="site.swipeDown()"></div>


                    <!-- /st-content-inner -->
                </div>
                <!-- /st-content -->

            </div>
            <!-- /st-pusher -->

        </div>
        <!-- /st-container -->


        <!--{{site.menu}}-->

        <!--<div class="tabs">-->
            <!--<a class="tab-item" ng-repeat="m in site.menu.menu[0]" ng-click="site.openPage(m.url)">-->
                <!--{{m.name}}-->
            <!--</a>-->

        <!--</div>-->
    </ion-content>



</ion-view>