<ion-view title="RemoteApp" ng-controller="siteCtrl as site">
    <ion-nav-buttons side="primary">
        <button class="button" ng-click="site.backToHome()">
            <i class="ion-arrow-left-c"></i> Back
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header padding" scroll="false">
        <div id="slider" on-swipe-up="site.swipeUp()" on-swipe-down="site.swipeDown()"></div>
        <div id="progress-bar" class="padding-top">
            <div id="gauge" class="padding-top" ng-style="{ 'height': site.gaugeHeight + '%' }"></div>

        </div>
    </ion-content>
</ion-view>